header {
	height: 200px;
	display: flex;
}

h1 {
	width: 65%;
	display: flex;
	justify-content: flex-start;
	align-self: center;
	font-size: 50px;
	color: rgb(156, 125, 20);
	font-weight: bold;
	font-style: italic;
	text-shadow: 40px 30px 6px rgb(19, 131, 79);
}

p {
	text-align: justify;
	font-size: 25px;
	padding: 15px;
}

footer{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

